:root {
  /* fonts */
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Coolvetica', sans-serif;

  /* background colors */

  --primary-background-color: #ffffff;
  --secondary-background-color: #f7f6f9;
  --sidebar-background-color: #ffffff;
  --accent-background-color: #3e85f3;
  --active-item-sidebar-background: #e3f3ff;

  --auth-bg-color: #dcebf7;

  --border: 1px solid rgba(220, 227, 229, 0.8);
  --border-calendar: 1px solid rgba(220, 227, 229, 0.5);
  --border-calendar-period-type: 1px solid rgba(62, 133, 243, 0.2);
  --border-auth: 1px solid rgba(220, 227, 229, 0.6);

  /* text-color */
  --primary-text-color: #111111;
  --secondary-text-color: #616161;
  --accent-text-color: #3e85f3;
  --accent-btn-background: #3e85f3;
  --btn-text-color: #ffffff;
  --not-active-item-sidebar-text-color: #84828a;
  --auth-placeholder-color: #dce3e5;

  /* calendar */
  --calendar-digit-color: #343434;
  --priority-low-bg-color: #ceeefd;
  --priority-medium-bg-—Åolor: #fcf0d4;
  --priority-high-bg-color: #ffd2dd;
  --active-button-period-type: #CAE8FF;
  --button-period-type: #E3F3FF;

  /* tasks */
  --task-priority-low-color: #72c2f8;
  --task-priority-medium-color: #f3b249;
  --task-priority-high-color: #ea3d65;
  --task-input-bg-color: #f7f7f7;
  --task-btn-cancel-bg-color: #efefef;

  /* scroll */
  --scrollbar-color: #e7e5e5;
  --scrollbar-bg-color: #f2f2f2;

  /* decorations */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-theme {
  --secondary-background-color: #171820;
  --primary-background-color: #21222c;
  --sidebar-background-color: #13151a;

  --border: 1px solid rgba(255, 255, 255, 0.15);

  /* text-color */
  --primary-text-color: #ffffff;
  --accent-text-color: #ffffff;
  --not-active-item-sidebar-text-color: #ffffff;
  --active-item-sidebar-background: #3e85f3;

  --calendar-digit-color: #ffffff;
  --task-input-bg-color: rgba(255, 255, 255, 0);

  /* scroll */
  --scrollbar-color: #171820;
  --scrollbar-bg-color: #2d3037;
}
